{% extends 'base.html.twig' %}

{% block title 'agence Lorem Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, corporis delectus deleniti doloribus esse, ipsam iure natus neque officiis omnis pariatur perspiciatis, praesentium reprehenderit sequi suscipit tempora velit. Corporis, repellat.</p>
    </div>

    <div class="container">
        <h2 class="text-center">Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="cart-title">
                                <a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.adress }} ({{ property.postalCode }})</p>
                            <div class="text-primary fw-bold" style="font-weight:bold;font-size: 2rem;">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}